@import url('https://fonts.googleapis.com/css2?family=Basic');

body {
    overflow: hidden;
    background: transparent;
    padding: 0;
    margin: 0;
    font-family: 'Basic', sans-serif;
}

.text-center {
    text-align: center;
}

.red {
    color: #ff0000;
}

.p-4 {
    padding: 4px;
}

#container {
    display: block;
    padding: 0;
    margin: 0;
    text-align: center;
}

.alertItem {
    display: inline-block;
    margin: 200px 20px 20px 20px;
    animation: fadeIn 0.5s ease-in-out;
}

.alertItem p.message {
    position: relative;
    text-shadow: 2px 2px #99000090;
    color: #eeeeee;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin: 0;
    height: auto;
}

.alertItem audio {
    display: none;
    visibility: hidden;
}

.alertItem video {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    height: auto;
    width: 400px;
    text-align: center;
    background: #ccc url('../images/tv_static.gif') no-repeat center center fixed;
    background-size: cover;
    box-shadow: 4px 3px 8px 1px #000000;
}

.alertItem img {
    height: auto;
    width: 250px;
    border: solid 0 transparent;
    margin: 0;
    padding: 0;
}

.alertItem.run p.message {
    text-shadow: 2px 2px #000000;
    font-size: 100px;
    color:#990000;
}

.alertItem.pepedance img, .alertItem.fbi img, .alertItem.thuglife img, .alertItem.sus img, .alertItem.rip img, .alertItem.sadge img {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    height: auto;
    width: 400px;
}

.alertItem.thuglife img {
    left: 150px;
    bottom: 110px;
    margin: 0;
    padding: 0;
    width: 100px !important;
}

/*css for Save alert*/
.alertItem.save {
    animation: grow 0.5s ease-in-out;
    padding: 20px;
    border: solid 0 transparent;
    border-radius: 0;
    width: 100%;
    background: #990000;
    vertical-align: middle;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
}
.alertItem.save p.message {
    font-size: 200px;
    margin: 0;
    padding: 0;
}

.alertItem.hello, .alertItem.hi {
    animation: fadeIn 0.5s ease-in-out;
    float: right;
    margin: 0;
    padding: 0;
}
.alertItem.hello img, .alertItem.hi img {
    width: 400px !important;
    margin-right: -100px;
}

.alertItem.fart img {
    width: 900px !important;
}

.alertItem.boom img {
    width: 900px !important;
}

.alertItem.nice, .alertItem.clap {
    animation: fadeIn 0.5s ease-in-out;
    position: absolute;
    left: 40%;
    bottom: 0;
    margin: 0;
    padding: 0;
}
.alertItem.nice img, .alertItem.clap img {
    width: 800px !important;
}

.alertItem.nuke {
    animation: fadeIn 0.5s ease-in-out !important;
    position: absolute;
    left: 0;
    bottom: 150px;
    margin: 0 0 0 0;
    padding: 0;
}
.alertItem.nuke img {
   width: 400px !important; 
}

.alertItem.catjam {
    animation: fadeIn 0.5s ease-in-out;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
}

.alertItem.catjam img {
    width: 800px !important;
}

.alertItem.fediversefollow img {
    width: 250px;
    text-align: center;
    margin-bottom: 4px;
}

.alertItem.fediversefollow p.message {
    text-shadow: 2px 2px #99000090;
    margin-top: 20px;
    font-weight: bold;
    font-size: 40px;
    word-wrap: break-word;
    text-align: center;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #0000ff, 0 0 20px #fff, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #0000ff, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

@keyframes down-up {
    from {
        margin: 0 0 0 0;
    }
    to {
        margin: 10px 0 0 0;
    }
}

@keyframes grow {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}